.footer {
    padding: 60px 6%;
    max-width: 1000px;
    margin: 0 auto;
    color: #b3b3b3;
}


.footer-icons {
    display: flex;
    gap: 25px;
    margin: 40px 0 30px;
}

.footer-icons img {
    width: 28px;
    cursor: pointer;
    opacity: 0.8;
    transition: 0.2s ease;
}

.footer-icons img:hover {
    opacity: 1;
    transform: scale(1.05);
}


.footer ul {
    display: grid;
    grid-template-columns: repeat(4, minmax(0, 1fr));
    gap: 14px 40px;
    margin-bottom: 30px;
    list-style: none;
    font-size: 13px;
}

.footer ul li {
    cursor: pointer;
    transition: 0.2s ease;
}

.footer ul li:hover {
    text-decoration: underline;
    color: #fff;
}


.copyright-text {
    font-size: 13px;
    color: #777;
}

@media (max-width: 800px) {

    .footer {
        padding: 40px 5%;
    }

    .footer-icons {
        justify-content: flex-start;
        gap: 18px;
        margin: 30px 0 20px;
    }

    .footer-icons img {
        width: 24px;
    }

    
    .footer ul {
        grid-template-columns: 1fr;  
        gap: 10px;
        font-size: 14px;
    }

    .footer ul li {
        padding: 4px 0;
    }

    .copyright-text {
        font-size: 12px;
        margin-top: 10px;
    }
}